@font-regular: "OpenSans", "Arial", sans-serif;
@font-bold: "OpenSans Bold", "Arial", sans-serif;

@cl-white: #ffffff;
@cl-black: #000000;
@cl-light-gray: #f1f1f1;
@cl-gray: #444444;
@cl-turquoise: #63d1bb;
@cl-dark-turquoise: #56c3b2;

@cl-header-border: #ececec;
@cl-product-border: #ededed;
