.contacts {
  margin: 0;
  padding: 40px 0 40px 0;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-family: @font-bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts__content {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: @cl-gray;
}

.contacts__content-link {
  color: @cl-gray;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

.contacts__write-us {
  width: 256px;
}
