.copyright {
  margin: 0;
  padding: 20px 0 20px 0;
  text-align: center;
}

.copyright__text {
  display: inline-block;
  vertical-align: middle;
  font-family: @font-bold;
  font-size: 19px;
  line-height: 1;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 20px;
  padding: 0;
}
