.knitting-form {
  margin: 0;
  padding: 30px 0 50px 0;
}

.knitting-form__desc {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  color: @cl-gray;
}

.knitting-form__required {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  color: @cl-gray;
}

.knitting-form__send {
  width: 256px;
}
