.page-title {
  margin: 0;
  padding: 0;
  background-color: @cl-light-gray;

  &--index {
    height: 283px;
    background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat 50% 20%;
  }
}

.page-title__label {
  width: 260px;
  margin: 0 auto;
  padding: 69px 0 77px 0;
  font-family: @font-bold;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  &--index {
    padding: 70px 0 76px 0;
  }

  /*временно для сетки*/
  /*background-color: red;*/
}

@media @tablet-widths {
  .page-title {
    border-top: 1px solid @cl-header-border;
    background: @cl-light-gray url("../img/zigzag-fill-desktop.svg") repeat-x 0 100%;
    background-size: 100% 24px;

    &--index {
      height: 626px;
      background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat 50% 100%;
      background-size: auto;
    }
  }

  .page-title__label {
    width: 500px;
    padding: 94px 0 93px 0;
    font-size: 43px;
    line-height: 50px;

    &--index {
      padding: 152px 0 0 0;
    }
  }

  .page-title__label br {
    display: none;
  }
}


@media @desktop-widths {
  .page-title {
    background-size: 100% 34px;

    &--index {
      background-size: auto;
    }
  }

  .page-title__label {
    width: 620px;
    padding: 94px 0 120px 0;
    font-size: 53px;
    line-height: 57px;

    &--index {
      padding: 154px 0 0 0;
    }
  }
}
