.page-title {
  margin: 0;
  padding: 70px 0 75px 0;
  font-family: @font-bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  background-color: @cl-light-gray;
}

.page-title--index-img {
  height: 137px;
  background: @cl-light-gray url("../img/hero-mobile@1x.jpg") no-repeat 50% 20%;
}
