.product {
  margin: 30px 0 0 0;
  padding: 0;
  width: 260px;
  border: 1px solid @cl-product-border;
}

.product__title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: @font-bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: @cl-black;
}

.product__properties {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  color: @cl-gray;
}

.product__cy {
  margin: 0;
  padding: 0;
  font-family: @font-bold;
  font-size: 15px;
  line-height: 24px;
  color: @cl-black;
}
