.product {
  position: relative;
  width: 260px;
  height: 375px;

  margin: 30px 0 0 0;
  padding: 0;
  border: 1px solid @cl-product-border;
}

.product__title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: @font-bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: @cl-black;
}

.product__properties {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  color: @cl-gray;
}

.product__cy {
  margin: 0;
  padding: 0;
  font-family: @font-bold;
  font-size: 15px;
  line-height: 24px;
  color: @cl-black;
}


@media @tablet-widths {
  .product {
    padding: 0 0 0 334px;

    width: 334px;
    height: 335px;
  }

  .product__img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .product__title {
    font-size: 20px;
  }

  .product__properties {
    font-size: 15px;
  }

  .product__cy {
    font-size: 17px;
  }
}

@media @desktop-widths {
  .product {
    padding: 0;

    width: 315px;
    height: 650px;
  }

  .product__img {
    position: static;
  }
}
