.product-week {
  position:  relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: url("../img/bg-zigzag-line.svg") repeat-x;
    background-size: contain;
  }
}

.product-week__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 27px 0 42px 0;
}

.product-week__header {
  display: flex;
  flex-direction: column;
}

.product-week__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.product-week__label {
  margin: 0;
  padding: 6px 0 0 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: @cl-turquoise;
}

.product-week__desc {
  margin: 0;
  padding: 26px 0 18px 0;
  font-size: 15px;
  line-height: 24px;
  color: @cl-text;
}

.product-week__properties {
  width: 260px;
  margin: 0 0 28px 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  color: @cl-text;
  border-collapse: collapse;

  & td {
    padding: 9px 0 10px 0;
    border-bottom: 1px solid @cl-border;
  }

  & td:first-child {
    width: 98px;
  }
}

.product-week__img {
  margin: 0 0 0 0;
  padding: 0;
  width: 260px;
  height: 315px;
  background-color: #f1f1f1;
}

.product-week__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 103px;
  padding: 18px 0 0 0;
}

.product-week__cy {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: @cl-text;
}

@media @tablet-widths {
  .product-week {

    &::after {
      height: 17px;
    }
  }

  .product-week__wrapper {
    position: relative;
    width: 668px;
    padding: 36px 0 69px 0;
  }

  .product-week__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .product-week__title {

    font-size: 43px;
    line-height: 50px;
  }

  .product-week__label {
    width: 126px;
    padding: 6px 0 0 0;
    text-align: center;
  }

  .product-week__desc {
    width: 300px;
    padding: 49px 0 37px 0;
    font-size: 17px;
    line-height: 30px;
  }

  .product-week__properties {
    width: 290px;
  }

  .product-week__img {
    position: absolute;
    top: 144px;
    right: 0;
    width: 333px;
    height: 404px;
  }

  .product-week__footer {
    width: 290px;
    height: 111px;
    padding: 27px 0 0 0;
  }

  .product-week__cy {
    font-size: 20px;
    line-height: 24px;
  }
}

@media @desktop-widths {
  .product-week {

    &::after {
      height: 34px;
    }
  }

  .product-week__wrapper {
    width: 1050px;
    padding: 115px 0 107px 0;
  }

  .product-week__header {
    justify-content: flex-start;
  }

  .product-week__title {
    font-size: 53px;
    line-height: 57px;
  }

  .product-week__label {
    order: -1;
    width: 131px;
    padding: 4px 24px 0 16px;
  }

  .product-week__desc {
    margin: 0 0 0 175px;
    padding: 48px 0 49px 0;
  }

  .product-week__properties {
    margin: 0 0 82px 175px;
  }

  .product-week__img {
    top: 63px;
    z-index: -1;
    width: 525px;
    height: 636px;
  }

  .product-week__footer {
    margin: 0 0 0 175px;
  }

  .product-week__cy {

  }
}
