.social {
  text-align: center;
  margin: 0;
  padding: 24px 0 25px 0;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 30px;
  margin: 0 20px 0 14px;
  padding: 0;
}

.social-btn--instagram {
  background: url("../img/icon-insta.svg") no-repeat 50% 50%;
}

.social-btn--facebook {
  background: url("../img/icon-fb.svg") no-repeat 50% 50%;
}

.social-btn--twitter {
  background: url("../img/icon-twitter.svg") no-repeat 50% 50%;
}
